/*DREW KROEGER- CSC390-PROJECT TWO- styling page*/
/*This is the shiny button in part C*/
#randomButton 
{
    position: absolute;
}

h1 
{
    text-align:center;
}

body
{
    background-color:#393e46;
    color:#f2f2f2;
    margin:0px;
}


/*This is all the math buttons in part B*/
.classTwo 
{
    font-size: 25px;
    padding: 30px;
    color: #f96d00;
    background-color:#005792;
    border-radius: 15px;
    cursor:pointer;
    border:solid;
    border-color: #001c2e;
    transition: background-color 0.3s;
}

.classTwo:hover
{
    background-color: #2077b2;
    color: #f98d20;
}

.classTwo:active{
    background-color: #77cafa;
    color: #ffaa55;
}
/*****************************************/


/*This is the flexbox for all the bottom buttons in part B*/
.partBFlexbox
{
    display:flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
}

/*This is the flexbox for the two number value boxes in part B*/
.partBFlexboxTwo
{
    display:flex;
    flex-wrap: wrap;
    justify-content:center;
}


/*This is the texts for the flexbox for the two number value boxes in part B*/
.partBFlexboxTwo p
{
    font-size: 30px;
    margin:20px;
    font-weight: bold;
}





/**************************************************/
/*This is the button that cannot be clicked in part C*/
#randomButton 
{
    background-color: gold;
    color:darkred;
    font-size: larger;
    text-align: center;
    padding: 25px;
    font-weight: bolder;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}



#anchorInButton
{
    text-decoration: none;
    color:rgb(21, 139, 0);
}

#anchorInButton:visited{
    color:rgb(21, 139, 0);
}
/**********************************************/


/*This holds the three buttons on the index page*/
#indexFlexBox 
{
    display: flex;
    justify-content: space-evenly;
}


/******************************************/
/*This is the buttons that are on the index page*/
.indexButton
{
    color:#f96d00 ;
    font-size: x-large;
    padding: 40px;
    background-color: #005792;
    border-radius: 15px;
    text-decoration: none;
    margin-top: 200px;
    flex-wrap: wrap;
    border-style: solid;
    border-color:#003772;
    transition: background-color 0.3s;
}

.indexButton:visited
{
    color:#f96d00;
}

.indexButton:hover
{
    background-color: #2077b2;
    color:#f98d20;
}

.indexButton:active{
    background-color: #77cafa;
    color:#ffaa55
}
/*******************************************/




/*This is the top div that is in all parts*/
.topDiv
{
    display: flex;
    background-color:rgb(32, 32, 32);
    padding:20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
}

.topDiv h1 {
    flex-grow: 1;           
    text-align: center;    
    margin: 0 auto; 
}

/*This is for the return to index page button on part A,B,C*/
.returnLink 
{
    margin-right: auto;
    color:rgb(68, 212, 193);
    font-size: larger;
    padding:15px;
    background-color: #2f0df0;
    text-decoration: none;
    justify-content:center;
    border-radius: 20px;
    transition: background-color 0.3s;
}

/*This is for the return to index page button on part A,B,C*/
.returnLink:hover
{
    background-color: #001c2e;
}

/*This is for the return to index page button on part A,B,C*/
.returnLink:active{
    background-color: rgb(0, 0, 34);
}


/*This is for the only button on part A*/
#littleGuy
{
    padding:40px;
    font-size: larger;
    color:#f96d00;
    background-color: #005792;
    border-radius: 20px;
    margin: auto;
    justify-content: center;
    display: block;
    margin-top: 100px;
}

/*This is for the two inputs in partA(not flexbox anymore)*/
#partAFlexBox
{
    display: block;
    text-align:center;
    justify-content:center;
    font-size: xx-large;
}

/*This is for the result text in part B*/
#result
{
    text-align: center;
    font-size: xx-large;
}

/*This is for the history list in part B*/
#history
{
    text-align: left;
    font-size: x-large;
    margin-top: 80px;
    margin-left: 40px;
}
